@font-face {
    font-family: 'BebasRegular';
    src: url('../fonts/bebas/BEBAS___-webfont.eot');
    src: url('../fonts/bebas/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebas/BEBAS___-webfont.woff') format('woff'),
         url('../fonts/bebas/BEBAS___-webfont.ttf') format('truetype'),
         url('../fonts/bebas/BEBAS___-webfont.svg#BebasRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'typoslab';
    src: url('../fonts/typoslab/TypoSlabserif-Light-webfont.eot');
    src: url('../fonts/typoslab/TypoSlabserif-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/typoslab/TypoSlabserif-Light-webfont.woff') format('woff'),
         url('../fonts/typoslab/TypoSlabserif-Light-webfont.ttf') format('truetype'),
         url('../fonts/typoslab/TypoSlabserif-Light-webfont.svg#TypoSlabserifLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    width: 100%;
    height: 100%;
}
html {
    width: 100%;
    height: 100%;
}
@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        /* Customize the look and feel of the collapsed top nav here */
        padding: 0;
    }
}
.section-head{font-family: 'BebasRegular'; text-align: center; padding-top:20px;}
#head-intro{
	font-family: 'BebasRegular'; color: #fff; font-size: 44px; padding-top: 150px;
	text-shadow: 2px 2px 2px #000;
}
#head-intro-desc{
	font-size:20px; color:#000;
}
.intro-section {
    height: 100%;
    padding-top: 100px;
    text-align: center;
    background: #e7e7e7 URL(../img/logo_red.gif) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.tentang-section {
	font-family: 'typoslab';
    min-height: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
    background: #fff;
}
.paragraf-tentang{text-indent:40px; text-align:justify;}
.tentang-img{}
.kurator-section {
	font-family: 'typoslab';
    min-height: 100%;
    padding-top: 30px;
    text-align: center;
    background: #f7f7f7;
	padding-bottom:50px;
}
.kategori-section {
	
	font-family: 'typoslab';
    min-height: 100%;
    padding-top: 30px;
	padding-bottom: 30px;
    background: #fff;
}
.syaratpendaftaran-section {
	font-family: 'typoslab';
    min-height: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #e9e9e9 /* URL(../img/bg_paper_syarat.jpg) repeat */;
}
.ketentuan-section {
	font-family: 'typoslab';
	min-height: 100%;
    padding-top: 30px;
    background: #fff;
}
#tentang-head-img, #kurator-head-img, #kategori-head-img, #syaratpendaftaran-head-img, #ketentuan-head-img{
	height:400px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#tentang-head-img{
	background: #000 URL(../img/kosasihaward2014_tentang.jpg) no-repeat center center fixed;
}
#kurator-head-img{
	background: #000 URL(../img/picjumbo.com_Smooth-Touch-Workspace.jpg) no-repeat center center fixed;
}
#kategori-head-img{
	background: #000 URL(../img/picjumbo.com_Smooth-Touch-Workspace.jpg) no-repeat center center fixed;
}
#syaratpendaftaran-head-img{
	background: #000 URL(../img/picjumbo.com_Smooth-Touch-Workspace.jpg) no-repeat center center fixed;
}
#ketentuan-head-img{
	background: #000 URL(../img/IMG_0029.JPG) no-repeat center center fixed;
}

#footer{
	font-family: 'typoslab';
	color:#fff;
	min-height:180px;
	background: #414141;
}
#footer a{
	color: #fff;
}
#logokosasih{padding-top:30px;display:inline;}
#kontak{padding-left:40px; padding-top:50px;}

/* #kr1:hover, #kr2:hover, #kr3:hover{background: #ddd;} */
.grid-kategori-inner{
	text-align:center;
	min-height: 90px;
	background-color: #f0f0f0;
	margin:10px 0px;
	padding:10px 15px;
	font-size:24px;
}

